/* 공통 */
body {
    font-family: 'Nanum Gothic','Gothic A1', sans-serif;
}
header {
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #c0bcbc;
}
.btn {
    color: #000;
    text-decoration: none;
}
.btn:hover {
    text-decoration: underline;
}
.btn_gray {
    border-radius: 10px;
    background-color: #f6f6f6;
    box-sizing: border-box;
    text-decoration: none;
    flex-grow: 1;
}

/* HEADER */
header > .inner {
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
header > .inner::after {
    content: "";
    display: block;
    clear: both;
}

header .logo {
    float: left;
    margin-top: 30px;
}
nav {
    float: right;
    margin-top: 15px;
}

header .btn-yellow {
    width: 120px;
    height: 50px;
    margin-left: 55px;
    border: 1px solid #fede22;
    border-radius: 22px;
    background-color: #fede22;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
}
header .btn-document {
    float: left;
}

/* 메인 메뉴 */
header .main-menu {
    float: left;
    margin-top: 17px;
    font-size: 0;
}
header .main-menu .menu-item {
    display: inline-block;
    margin-left: 35px;
    font-size: 16px;
    vertical-align: top;
}
header .main-menu .menu-item:first-child {
    margin-left: 0;
}
header .main-menu .menu-item a {
    position: relative;
    padding-bottom: 35px;
    font-size: 16px;
    color: inherit;
    text-decoration: none;
}

header .main-menu .menu-item a:hover {
    text-decoration: underline;
}
header .main-menu .menu-item:hover .item__name a::after {
    content : "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 3px;
}

/* 드롭다운 메뉴 */
header .main-menu .menu-item .item__contents {
    display: none;
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    padding: 70px 0;
    border-top: 1px solid #c0bcbc;
    border-bottom: 1px solid #999;
    background-color: #fff;
    z-index: 2;
}

header .main-menu .menu-item:hover .item__contents {
    display: block;
}

header .item__contents .contents__menu {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
header .item__contents .sub__title {
    display: block;
    font-size: 18px;
}
header .item__contents .sub__title a {
    font-size: inherit;
    font-weight: 600;
}
header .drop__sub {
    width: 100%;
    font-size: 0;
}
header .drop__sub >li {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    font-weight: 200;
    text-align: center;
}
header .bank .drop__sub >li {
    width: 25%;
}
header .drop__sub >li:last-child {
    margin-right: 0;
}
/* 하위 리스트 메뉴 */
header .sub__list {
    margin-top: 20px;
}
header .sub__list >li {
    margin: 30px 0;
}
header .main-menu .menu-item .sub__list a {
    font-size: 14px;
}

/* SECTION */
.kakao_content {
    height: 7800px; /*임시 높이 지정*/
    position: relative;
}
.rian_intro {
    position: relative;
    width: 100%;
    height: 884px;
    margin: 0 auto;
    background-color: #fff;
}
.rian_intro .intro_main_content {
    position: relative;
    width: 1200px;
    height: 884px;
    margin : 0 380px;
    background-image: url("/image/main-bg3.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: #000;
    z-index: 1;
}

/* section1 컨텐츠 내용 */
.intro_main_content .tlt_cont {
    position: absolute;
    top: 175px;
    left: 90px;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.3;

}
.intro_main_content .tit_subcont {
    position: absolute;
    top: 330px;
    left: 93px;
    font-size: 17px;
    line-height: 1.7;
    opacity: .8;
}
.intro_main_content .brd_camp_link {
    position: absolute;
    top: 410px;
    left: 93px;
    font-size: 18px;
    font-weight: bold;
    color: #000;

}
/* 앱스토어 버튼 */
.app_list {
    position: absolute;
    top: 480px;
    width: 400px;
    height: 50px;
    margin-left: 87px;
}
.app_list li {
    float: left;
    width: 170px;
    height: 80px;
    padding: 0 7px;
}
.app_list li .app_link {
    display: block;
    width: 170px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.315);
    border-radius: 20px;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: #000;
    clear: both;
}
.app_list li:nth-child(2) >a {
    margin-left: 30px;
}
/* .intro_main_content .app_list .img_kabang_goo {
    background: url("/image/googleplay_logo.png");
}
.intro_main_content .app_list li .img_kabang_app {
    background: url("/image/apple_logo.png");
} */

.background_line {
    position: absolute;
    top: 0;
    width: 100%;
    height: 720px;
    background-color: #ffef6b;
}

/* 2번째 영역 */
.intro_cont {
    position: relative;
    width: 100%;
    height: 750px;
    max-width: 1240px;
    background-color: #fff;
}
.cont_img {
    position: relative;
    width: 1240px;
}
.cont_img img {
    position: absolute;
    left: 440px;
    width: 470px;
    height: 670px;
}
.cont_txt {
    display: inline-block;
    position: relative;
    top: 220px;
    left: 1050px;
    color: #000;
}
.cont_txt .sec_cont {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
}
/* 공통- 서브콘텐츠 */
.subcont {
    margin-top: 25px;
    margin-left: 3px;
    font-size: 15px;
    line-height: 1.7;
    color: #666;
}

.btn_content {
    position: absolute;
    left: 1050px;
    bottom: 240px;
    width: 255px;
    height: 56px;
}
.btn_content .bank_link {
    position: absolute;
    top: 20px;
    left: 44px;
    color: #333;
    font-weight: 600;
    text-decoration: none;
}
.sec_ico {
    width: 7px;
    height: 9px;
    margin-left: 5px;
}
.intro_cont_divider {
    width: 100%;
    height: 30px;
    background-color: #fafafa;
}

/* 3번째 영역 */
.left_cont_txt {
    position: relative;
    top: 220px;
    left: 40%;
}
.thir_cont {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
}
.link_deposit {
    display: inline-block;
    position: relative;
    top: 30px;
    color: #333;
    font-weight: 600;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.btn_third a:nth-child(2) {
    margin-left: 10px;
}

.cont_img .img_savings {
    position: relative;
    bottom: 180px;
    left: 1100px;
    width: 409px;
    height: 730px;
}

